body {
  margin-top: 70px;
  font-size: 20px;
  text-align: center;
}

.ps-gallery {
  text-align: start;
}

#disqus_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#disqus_thread {
  width: 500px;
}
