<h1>Displays</h1>

<div id='columns' class='ps-gallery'>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Things/Displays/DSC_0054.jpg' data-size='500,753'>
    <!-- <figcaption>white/blue carousel</figcaption> -->
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Things/Displays/DSC_0018.jpg' data-size='500,753'>
    <!-- <figcaption>pink woman</figcaption> -->
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Things/Displays/DSC_0022.jpg' data-size='500,753'>
    <!-- <figcaption>blue clock</figcaption> -->
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Things/Displays/DSC_0027.jpg' data-size='500,753'>
    <!-- <figcaption>gold woman</figcaption> -->
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Things/Displays/DSC_0030.jpg' data-size='500,753'>
    <!-- <figcaption>blue shopper waving</figcaption> -->
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Things/Displays/DSC_0081.jpg' data-size='500,753'>
    <!-- <figcaption>yellow/pink woman</figcaption> -->
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Things/Displays/DSC_0096.jpg' data-size='500,753'>
    <!-- <figcaption>red woman</figcaption> -->
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Things/Displays/DSC_0017v2.jpg' data-size='500,753'>
    <!-- <figcaption>red rose</figcaption> -->
  </figure>
</div><!-- end #columns -->
