<h1>Japan</h1>

<div id='columns' class='ps-gallery'>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0946_kyoto_street.JPG' data-size='500,753'>
    <figcaption>Kyoto</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0121_orange_lights.JPG' data-size='753,500'>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0283_statue.JPG' data-size='500,753'>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0304_emperor_castle.JPG' data-size='500,753'>
    <figcaption>Emperor's Castle</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0342_cemetery_lights_2.JPG' data-size='753,500'>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0115_incense.JPG' data-size='753,500'>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0362_buildings_geometry.JPG' data-size='500,753'>
    <figcaption>Tokyo</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_1062_zen_rock.JPG' data-size='500,753'>
    <figcaption>Zen garden</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0431_tori.JPG' data-size='500,753'>
    <figcaption>Tokyo - Toris in Azalea park</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0657_himeji_castle.JPG' data-size='500,753'>
    <figcaption>Himeji Castle</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0749_tori_cedar.JPG' data-size='753,500'>
    <figcaption>Tori and Cedar forest</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0938_lanterns.JPG' data-size='753,500'>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0422_green_path.JPG' data-size='500,753'>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_1112_temple.JPG' data-size='500,753'>
    <figcaption>Horyuji Temple</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_1231_koyasan.JPG' data-size='500,753'>
    <figcaption>Koyasan</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/Tokyo+-+Todoroki+Valley.JPG' data-size='1000,1506'>
    <figcaption>Tokyo - Todoroki Valley</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/Lanterns.JPG' data-size='1000,1506'>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0244_rice_field.JPG' data-size='753,500'>
    <figcaption>Near Nara</figcaption>
  </figure>
  <figure>
    <img src='https://portfolio-photo.s3.eu-west-3.amazonaws.com/Travels/Japan/DSC_0313_cemetery_lights_1.JPG' data-size='753,500'>
  </figure>
</div><!-- end #columns -->
