<h1>Japan</h1>


<div id="columns" class="ps-gallery">

    <figure>
        <img src="images/1.JPG" data-size="500,500">
        <figcaption>Hello world</figcaption>
    </figure>
  
    <figure>
        <img src="images/2.JPG" data-size="500,500">
        <figcaption>test</figcaption>
    </figure>
    
    <figure>
        <img src="images/3.JPG" data-size="500,500">
    </figure>
  
    <figure>
        <img src="images/4.JPG" data-size="500,500">
    </figure>

    <figure>
        <img src="images/5.JPG" data-size="500,500">
    </figure>
  
    <figure>
        <img src="images/6.JPG" data-size="500,500">
    </figure>

</div><!-- end #columns -->
