<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>vmarquet photography</title>

    <link rel="icon" href="/favicon.png">

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Bootstrap plugins -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- AngularJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/routes.js"></script>
    <script type="text/javascript" src="js/disqus.js"></script>

    <!-- PhotoSwipe.js library CSS files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- JS lib to avoid vendor prefixes on CSS properties -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    <!-- PhotoSwipe.js library JS files -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- from https://codepen.io/dudleystorey/pen/yqrhw -->
    <!-- style must be inlined and not in a stylesheet for prefixfree.js to work -->
    <style>
        @font-face {
            font-family:'Calluna';
            src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
        }

        body {
            min-height: 1000px;
        }

        #columns {
            column-width: 320px;
            column-gap: 18px;
            max-width: 1100px;
            margin: 50px auto;
        }

        div#columns figure {
            margin: 0 0 18px;
            display: inline-block;
            column-break-inside: avoid;
            font-family: Calluna, Arial, sans-serif;
        }

        div#columns figure img {
            width: 100%;
            height: auto;
        }

        div#columns figure figcaption {
            font-size: 1.5rem;
            color: #444;
            line-height: 1.5;
        }

        @media screen and (max-width: 750px) { 
            #columns { column-gap: 0px; }
            #columns figure { width: 100%; }
        }

    </style>

</head>

<body ng-app="portfolioApp">

    <div id="wrapper">

        <!-- Sidebar -->
        <!-- Categories ideas: Nature, Shapes -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <br /><br/ ><br/ ><br />

                <li class="sidebar-brand">
                    <a href="#">Vincent Marquet</a>
                </li>
                <br /><br/ ><br/ >

                <li>
                    <a href="#/">Overview</a>
                </li>
                
                {% include summary.html %}

                <!--
                <li>
                    <a href="#/">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                -->
                <li>
                    <a href="#/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous">
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div><!-- end PhotoSwipe root element -->

    <script>
        $(document).on("click", ".ps-gallery", function(event) {
            if (event.target.tagName !== "IMG")
                return;

            var elem = event.target; // get DOM object

            // we create an array of <img> objects, to get the index
            // of the one that was clicked
            var images = [];
            $(".ps-gallery").children().each(function(index, elem) {
                var img_jquery = $(elem).find("img"); // returns a jQuery object
                var img_dom = img_jquery[0]; // convert to DOM object
                images.push(img_dom);
            });

            var index = images.indexOf(elem);

            var pswpElement = document.querySelectorAll('.pswp')[0];

            // build items array
            var items = [];

            $(".ps-gallery").children().each(function(index, elem) {
                var img = $(elem).find("img"); // return a jQuery object
                var src = img.attr("src");
                var size = img.data("size");
                var width  = size.split(",")[0];
                var height = size.split(",")[1];

                items.push({
                    src: src,
                    w: width,
                    h: height
                });
            });

            // define options (if needed)
            var options = {
                // optionName: 'option value'
                // for example:
                index: index, // start at slide number index
                shareEl: false // remove "share" button
            };

            // Initializes and opens PhotoSwipe
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        });
    </script>

    <!-- display Disqus comment count -->
    <script id="dsq-count-scr" src="//vmarquet-photography.disqus.com/count.js" async></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83989445-3', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
